@import '../scss/seccion/header';
@import '../scss/general/color';
@import '../scss/seccion/h';
@import '../scss/seccion/footer';
@import '../scss/seccion/autos';










* {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

main {
    background-color: $negro;
}

.carousel-home {
    @extend %flex-center-center;
    padding-top: 20px;
}