@import '../scss/seccion/header';
@import '../scss/general/color';
@import '../scss/seccion/h';
@import '../scss/seccion/footer';
@import '../scss/seccion/autos';










* {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

main {
    background-color: $negro;
}

.carousel-home {
    @extend %flex-center-center;
    padding-top: 20px;
}
.carousel-0km {
    @extend %flex-center-center;
}

.cards {
    @extend %flex-center-center;
}


.espacio-al-footer {
    height: 100px;
}

.box {
    position: absolute;
}
input.src {
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 14px;
    border-radius: 15px;
    color: $blanco;
    
}

.pagination {
    @extend %flex-center-center;
}